<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>description</th>
      <th>vat</th>
      <th>amount</th>
      <th>rate</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |invoice_entry| %>
      <tr>
        <td><%= invoice_entry.description %></td>
        <td class="has-text-centered"><%= number_to_percentage(invoice_entry.vat, precision: 2) %></td>
        <td class="has-text-centered"><%= invoice_entry.amount %></td>
        <td class="has-text-right">
          <%= number_to_currency(invoice_entry.rate, precision: invoice_entry.currency.display_decimals, unit: invoice_entry.currency.symbol) %>
        </td>
        <td class="has-text-right">
          <%= number_to_currency(
            (invoice_entry.rate * invoice_entry.amount) * (1 + (invoice_entry.vat.to_f / 100)),
            precision: invoice_entry.currency.display_decimals,
            unit: invoice_entry.currency.symbol
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>