<div class="container is-size-7">
  <%= render "doc_header", company: @company %>
</div>


<br/>

<table class="table is-striped is-fullwidth  is-size-7">
  <thead>
    <tr>
      <th>Description</th>
      <th>Claim Perc</th>
      <th>Amount</th>
      <th>Claim</th>
    </tr>
  </thead>
  <tbody>
    <% @period.expense_entries.each do |item| %>
      <tr>
        <td><%= item.description %></td>
        <td class="has-text-centered"><%= number_to_percentage(item.claim_percentage, precision: 2) %></td>
        <td class="has-text-right"><%= number_to_currency(item.amount, precision: item.currency.display_decimals, unit: item.currency.symbol) %></td>
        <td class="has-text-right">
          <%= number_to_currency((item.amount * item.claim_percentage).to_f / 100, precision: item.currency.display_decimals, unit: item.currency.symbol) %>
        </td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<div class="columns shadow-bg is-size-3">
  <div class="column">
    <dl>
      <dt class="has-text-right">
        <%= amount_with_currency(@period,total_period_expenses(@period)) %>
      </dt>
    </dl>
  </div>
</div>

<footer class="footer">
  <div class="columns is-size-7">
    <div class="column has-text-centered">
      <dl>
        <dt><div>PAYMENT TERMS: ON PRESENTATION</div></dt>
        <dt><div>We reserve the right to charge interest on late paid invoices at the percentage rate above bank base rates prevailing under the European Communities (Late Payment on Commercial Transactions) Act 1998</div></dt>
        <dt><div><%= @company.name %> is registered in <%= @company.address.country %>. Company number: <%= @company.number %></div></dt>
      </dl>
    </div>
  </div>
</footer>